######################
# Eclipse
######################
*.pydevproject
.project
.metadata
tmp/
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
.classpath
.settings/
.loadpath
.factorypath
.tern-project
/src/main/resources/rebel.xml

######################
# Visual Studio Code
######################
.vscode/
.env

######################
# STS
######################
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

######################
# IntelliJ IDEA
######################
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

######################
# NetBeans
######################
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

######################
# Maven
######################
log/
target/
git.properties

######################
# Gradle
######################
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
application.yaml

######################
# Package Files
######################
!maven-wrapper.jar
*.war
*.ear
*.db

######################
# Logs
######################
*.log*

######################
# Others
######################
*.class
*.*~
*~
.merge_file*
HELP.md
/data
.zip
.rar
.docx
.doc

.sdkmanrc